.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sort-button {
  margin-left: 5px;
  margin-right: 5px;
}

.message-board {
  list-style: none;
}

.message-formatting {
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-formatting {
  padding-top: 0px;
  padding-bottom: 20px;
  color: #142967;
}

.message-text-lift {
  margin-bottom: 5px;
  margin-top: 15px;
}

.date-formatting {
  font-size: 12px;
  color: #142967;
}

.search-formatting {
  margin-left: 40px;
  margin-right: 10px;
}

.sort-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.panel-heading-formatting {
  height: 45px;
}

.message-edit-btn-format {
  margin-left: 10px;
  margin-bottom: 15px;
}

.heading-format {
  text-align: center;
}
